@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

:root {
   --primary-color: #FF8383;
   --white-color: #ffffff;
   --black-color: #212121;
}

* {
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
   box-sizing: border-box;
   transition: .5s;
   overflow-wrap: break-word;
}

html,
body {
   background-color: #FFFCFC;
   overflow-x: hidden;
   overflow-y: hidden;
   width: 100dvw;
   height: 100dvh;
   scroll-behavior: smooth;
   font-family: "Rubik", sans-serif;
   color: var(--black-color);
   display: flex;
   justify-content: center;
   align-items: center;
}

.container {
   height: 100dvh;
   width: 100dvw;
   background-color: #F9F9F9;
   display: none;
}

.H1text {
   text-align: center;
}

@media (max-width: 480px) {
   .H1text {
      display: none;
   }

   .container {
      height: 100dvh;
      width: 100dvw;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
   }

   .container .statusBar {
      width: 100dvw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      top: 0;
      z-index: 2;
   }

   .container .homeBar {
      width: 100dvw;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 0;
      z-index: 2;
   }

   .container>img {
      width: 100dvw;
      min-width: 100%;
      max-height: 70dvh;
      background-position: center center;
      object-fit: cover;
      height: fit-content;
      position: relative;
      margin-top: -20dvh;
   }

   .container>.text {
      width: 90dvw;
      margin: auto;
      position: relative;
      margin-top: -12dvh;
      text-align: left;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1dvh;
   }

   .container>.text span:nth-child(1) {
      width: 100%;
      text-align: left;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 40px;
      font-weight: 500;
   }

   .container>.text hr {
      width: 24%;
      height: 4px;
      border: none;
      border-radius: 10px;
      background-color: var(--primary-color);
   }


   .container .form {
      width: 90dvw;
      margin: auto;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2dvh;
   }

   .container .form .inputs {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1dvh;
   }

   .container .form .inputs label {
      color: var(--black-color);
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
      letter-spacing: 0.2px;
      opacity: .8;
   }

   .container .form .inputs .fields {
      width: 100%;
      display: flex;
      gap: 1dvw;
      align-items: center;
      padding-bottom: 1.2dvh;
      border-bottom: 1.5px solid #BDBDBD;

      &:hover {
         border-bottom: 2px solid #FF8383;
      }
   }

   .container .form .inputs hr {
      width: 3%;
      height: 5%;
      transform: rotate(-90deg);
      border: none;
      border-radius: 10px;
      background-color: #616161;
   }

   .form .fields>input {
      all: unset;
      color: #616161;
      font-size: 14px;
      line-height: 140%;
      letter-spacing: 0.2px;
      width: 75dvw;

      &:active {
         color: var(--black-color);
      }
   }

   .form .forgot-remember {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
   }

   .form .remember {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1dvw;
   }

   .form .remember input {
      accent-color: var(--primary-color);
   }

   .form .forgot {
      color: var(--primary-color);
      font-weight: 500;
   }

   .Buttons {
      width: 90dvw;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1.5dvh;
      margin: auto;
      margin-bottom: 4dvh;
   }

   .Buttons button {
      border: none;
      width: 90vw;
      padding: 1.5dvh 1dvw;
      background: #FF8383;
      color: #F8F8FF;
      font-size: 18px;
      font-weight: 700;
      border-radius: 12px;
      cursor: pointer;
   }

   .Buttons .SignUp {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1dvw;
      color: #9E9E9E;
      font-size: 14px;
   }

   .Buttons a {
      color: #FF8383;
      font-weight: 500;
      text-decoration: none;
   }
}